
<div>
<h1><em>Список всех публикаций</em></h1>
<div class="row">
  <% @chapers.each do |chaper| %>
  <div class="panel callout radius small-6 columns " >
		<h3><%= link_to "#{chaper.title}",chaper_path(chaper) %></h3>
		<p class="blue"><%=sanitize chaper.description%></p>
	</div>
	<% end %>
</div>

</div>

