<div>
<h1><em>Список всех публикаций</em></h1>
<div ></div>
<div class="row">
  <% @chapers.each do |chaper| %>
  <div class="panel callout radius small-4 columns" >
		<h3><a href="<%= chaper_path(chaper)%>"><%= chaper.title %></a></h3>
		<p class="blue"><%=sanitize chaper.description%></p>
	</div>
	<% end %>
</div>

</div>

