
<div>
<h1><center><em>Список всех публикаций</em></center></h1>
<div class="row">
  <% @chapers.each do |chaper| %>
  <div class="panel callout radius small-6 columns " >
		<h3><center><%= link_to "#{chaper.title}",chaper_path(chaper) %></center></h3>
		<p class="blue"><%=truncate(strip_tags(markdown(chaper.description)), length: 200) %></p>
	</div>
	<% end %>
</div>

</div>

